.main{
height:100%;
background:#eee;
}
.article-content{
    padding:30px 4% !important;
}
.date{
    font-size:32px;
    padding:10px 0;
}
.article-content h3{
    font-weight:bold;
    border-bottom:1px solid #ddd;
}
/*********相关文章**************/
.relatedPosts{
    margin-top:30px;
    border-top:1px solid #ddd;
    padding:20px 0;
}
.relatedPosts ol{
    padding-left:20px;
}
.relatedPosts li{
    list-style-type:decimal;
}
/*********发表评论**************/
.comments{
    border-bottom:1px solid #ddd;
}
.comments .comments-header{
    border-bottom:1px solid #ddd;
}
.comments .comments-list{
    border-radius:3px;
    margin:20px 0;
}
.comments-list .top{
    padding-bottom:10px;
    color:#999;
}

.comments .myComment textarea{
    width:100%;
}