*{
    margin:0;
    padding:0;
}
body{
    color:#666;
}
li{
    list-style:none;
}
img{
    display:block;
}
p{
    text-indent:2em;
}
h3{
    font-weight:bold;
    font-size:16px;
    border-bottom:1px solid #ddd;
}
/*************导航条************/
nav{
    background:#006633;
}
nav .container-fluid{
    width:80%;
}
nav .pull-right{
    padding-top:8px;
}
i{
    padding:0 5px;
}
/**********主要内容***************/
.content{
    background:#fff;
    margin-top:50px;
    overflow:hidden;
}

/*******表单**********/
#login,#reg{
    width:400px;
    background:#fff;
    padding:30px 50px;
    margin:0 auto;
    margin-top:120px;
    border:1px solid #ccc;
    border-radius:5px;
}
#login h2,#reg h2{
    font-size:24px;
    padding-bottom:10px;
}
#login .input-group,#reg .input-group{
    margin:20px 0;
}
#login button,#reg button{
    display:block;
    width:80%;
    margin:30px auto;
}
/************脚部****************/
footer{
    width:100%;
    height:100px;
    border-top:1px solid #ddd;
    background:#fff;
}
#copyright{
    text-align:center;
}
#copyright li{
    display:inline;
    line-height:100px;
    text-align:center;
}