/**************头部************/
.header{
    color:#fff;
    padding:40px 10%;
    background:url('../images/header_bg.jpg') no-repeat left top;
    background-size:100% 200px ;
}
/******侧栏************/
.content .aside{
    width:20%;
    float:left;
    background:#F9F9F9;
}
.aside h2{
    font-size:18px;
    background:#999;
    line-height:24px;
    text-align:center;
    color:#fff;
    margin:0;
}
/**********个人资料*************/

.myInfo .myInfo-content{
    padding:20px;
    overflow:hidden;
}
.myInfo-content img{
    display:block;
    width:144px;
    height:144px;
    margin:5px auto;
}
.myInfo-content .nickName{
    text-align:center;
}
.myInfo-content .btn-group{
    width:100%;
    border-bottom:1px dashed #333;
    padding:10px;
}
.myInfo-content .btn-group .buttons{
    width:116px;
    height:30px;
    margin:0 auto;
}
.buttons button{
    float:left;
}
.myInfo-rank{
    padding:10px;
    border-bottom:1px dashed #333;
}
.myInfo-statistics{
    padding:10px;
}

/**************博客列表******************/
.content .main{
    width:80%;
    float:left;
}
.main .article{
    background:#eee;
    border-bottom:1px solid #aaa;
    overflow:hidden;
}
.main .article-tag{

    width:250px;
    padding-top:25px;
    padding-right:20px;
    line-height:32px;
    text-align:right;
    float:left;
}
.main .article-content{
    background:#fff;
    padding:20px;
    overflow:hidden;
    margin-left:250px;
    border-left:1px solid #ddd;
}

.article p{
    padding:10px 0;
}
.main .article-tag a{
    color:rgb(119, 119, 119);
}


.article h2 a:hover{
    text-decoration:none;
}
.main .article-footer{
    float:right;
}
/*********博客列表***********/
.content .main nav{
    background:#fff;
}
nav .pagination{
    margin-left:100px;
}
