.letters h3{
    margin-left:20px;
    border:none;
}
.chatContent{
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    padding:20px;
}
.chatContent textarea{
    width:100%;
    min-height:150px;
}
.letters .submit,.letters .cancel{
    margin:10px 0 0 20px;
}