.content{
    padding:20px 50px;
}
.content-header>img{
    width:60px;
    height:60px;
    float:left;
}
.content-header>h1{
    font-size:24px;
    margin-left:80px;
    padding-top:35px;
}
.focus-list{
    padding:20px;
}
/*我的消息*/
.Messages{

}
.Messages .message-author{
    color:#999;
}


